alias dlmp3='youtube-dl --output "%(title)s.%(ext)s" --extract-audio --audio-format mp3 --audio-quality 0'
alias ddflash='sudo dd bs=4M conv=fdatasync status=progress'
alias pacS='sudo pacman -S'
alias pacSyu='sudo pacman -Syu'
alias pacSs='pacman -Ss'
alias pacRs='sudo pacman -Rs'
alias pacR='sudo pacman -R'
alias pacSyyu='sudo pacman -Syyu'
alias :q='exit'
alias mkpkglist='expac -HM '%-20n\t%10d' $(comm -23 <(pacman -Qqt | sort) <(pacman -Qqg base base-devel | sort)) > ~/Backups/Packagelists/packagelistdesc.txt && comm -23 <(pacman -Qqt | sort) <(pacman -Sqg base base-devel | sort) > ~/Backups/Packagelists/packagelist.txt && sh ~/Backups/renameandupload.sh'
alias ySyu='yay -Syu'
alias ranger='ranger --choosedir=$HOME/.rangerdir; LASTDIR=`cat $HOME/.rangerdir`; cd "$LASTDIR"'
alias gsts='git status'
alias gadd='git add'
alias gcmt='git commit -am'
alias gcmt1='git commit -om'
alias gpush='git push'
alias defaultnetwork='sudo virsh net-start default'
alias vnixconf='sudo vim /etc/nixos/configuration.nix'
alias nixupgr='sudo nixos-rebuild switch --upgrade'
alias ddg='elinks duckduckgo.com'
alias v='nvim'
alias nvimconf='nvim ~/.config/nvim/init.vim'
